
<head>
	<meta charset="utf-8">
	<title>Login</title>

</head>

<body>

	<table>
		<tr>
			<td><label>Usuarios:</label></td><td><input type="text" name="usuario" id ="usuario"></td>
		</tr>
<tr>
	<td><label>Contraseña:</label></td><td><input type="password" name="pass" id = "pass"></td>
</tr>
<tr>
	<td colspan="2"><input type="button" name="boton" id="boton" onclick="validar()" value="Entrar" style="width: 100%"></td>

</tr>
<tr>
	<td colspan="2"><input type="button" name="botonRegistro" id="botonRegistro" onclick="validar()" value="Registrarse" style="width: 100%"></td>

</tr>


	</table>





</body>
